.top-card {
  padding: 10px;
  border-radius: 0;
  /*background: #f4f5f4;*/
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: #3c64b1;
  box-shadow: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body-card {
  padding: 10px;
  border-radius: 0;
  box-shadow: none;
}

.left {
  float: right;
  vertical-align: text-top;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.right {
  float: right;
  vertical-align: text-top;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  padding: 20px;
}

.docs {
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.app-button {
  padding: 0.2em 2em;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  margin: 1em;
}

.quick-view {
  color: #3c64b1;
  padding-left: 50px;
  padding-right: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.grid-item1 {
  padding: 0px;
  color: #3c64b1;
  text-align: center;
}

.grid-item2 {
  padding: 0px;
  color: #3c64b1;
  text-align: center;
}

.grid-item3 {
  padding: 0px;
  color: #3c64b1;
  text-align: center;
}

table {
  width: 100%;
}

/* Remove table border entirely */
td.mat-cell {
  border-bottom-style: none;
}
th.mat-header-cell {
  border-bottom-style: none;
}
