<iframe
  width="100%"
  height="700"
  src="https://statichtmldocs.demo.compliancesystems.cloud/index_auto.html"
></iframe>

<div>
  <div style="text-align: center">
  <button 
    mat-button
    mat-mini-fab 
    color="nothing"
    [routerLink]="['/closingb']"            
  >
    <mat-icon>arrow_left</mat-icon>          
  </button>

  &nbsp;&nbsp;

  <button 
    mat-button
    mat-mini-fab 
    color="primary"
    [routerLink]="['/closing3b']"            
  >
    <mat-icon>arrow_right</mat-icon>          
  </button>
  </div>
</div>
