<iframe
  width="100%"
  height="700"
  src="https://statichtmldocs.demo.compliancesystems.cloud/index_auto.html"
></iframe>

<div>
  <div style="text-align: center">
    <button
      mat-button
      class="app-button"
      mat-raised-button
      color="primary"
      [routerLink]="['/']"
    >
      Back
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button
      mat-button
      class="app-button"
      mat-raised-button
      color="primary"
      [routerLink]="['/closing3b']"
    >
      Sign
    </button>
  </div>
</div>