<mat-sidenav-container [class.m2app-dark]="isDarkTheme">
  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Settings</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">build</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button
          mat-button
          (click)="isDarkTheme = !isDarkTheme"
          class="app-sidebar-button"
        >
          TOGGLE THEME
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <div><a routerLink="/examples">Example Widgets</a></div>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <div><a routerLink="/">Closing Ceremony</a></div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <!--<span class="app-toolbar-pad"></span>-->
    <!--<span class="title">BANK LOGO</span>-->
    <div class="logo">BANK LOGO</div>
    <span class="app-toolbar-filler"></span>
    <span>
      <mat-icon>perm_identity</mat-icon>
    </span>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
