  <!--
  <div style="text-align: center">
    <mat-icon>home</mat-icon>     
  </div> 
  -->

  <br /><br />

  <!-- Material Button -->
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Path 1 - Outdated</h2>
      <p>User is ready to review and sign contracts</p>
      <div style="text-align: center">
        <button 
          mat-raised-button   
          color="primary"
          [routerLink]="['/closingb']"
        >
          Review Your Loan Details         
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- /Material Button -->

  <br /><br />

  <!-- Material Button -->
  <mat-card>
  <mat-card-content>
    <h2 class="example-h2">Path 2 - Original Figma Concept</h2>
    <p>User is ready to review and sign contracts</p>
    <div style="text-align: center">
      <button 
        mat-raised-button   
        color="primary"
        [routerLink]="['/closing']"
      >
        Review Your Loan Details         
      </button>
    </div>
  </mat-card-content>
  </mat-card>
  <!-- /Material Button -->

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />