  <!--
  <div style="text-align: center">
    <mat-icon>home</mat-icon>     
  </div> 
  -->

  <br /><br />

  <!-- Material Button -->
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Path 1</h2>
      <p>The current preview embedded conceptually...</p>
      <ul>
        <li>Compliance Systems returns single HTML "Preview" to be embedded (using original link provided)</li>
        <li>Much more work required to clean up that preview page</li>
        <li>DocuSign PDF signing experience</li>        
      </ul>
      <div style="text-align: center">
        <button 
          mat-button
          mat-mini-fab 
          color="none"
          [routerLink]="['/closingb']"
        >
          <mat-icon>arrow_right</mat-icon>          
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- /Material Button -->

  <br /><br />

  <!-- Material Button -->
  <mat-card>
  <mat-card-content>
    <h2 class="example-h2">Path 2</h2>
    <p>The original figma site, tweaked with the concept of a UI widget wrapping individual HTML.</p>
    <ul>
      <li>Build a UI/widget and leverage the individual HTML files instead of asking CS for a separate preview</li>
      <li>DocuSign PDF Signing experience</li>
    </ul>
    <div style="text-align: center">
      <button 
        mat-button
        mat-mini-fab 
        color="none"
        [routerLink]="['/closing']"
      >
        <mat-icon>arrow_right</mat-icon>          
      </button>
    </div>
  </mat-card-content>
</mat-card>
<!-- /Material Button -->



  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />