  <!--
  <div style="text-align: center">
    <mat-icon>home</mat-icon>     
  </div> 
  -->

  <br /><br />

  <!-- Material Button -->
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Preview Page</h2>
      <p>The original discussion was for CS to provide a single HTML page to preview contracts via HTML. The original mock needs a ton of work.</p>
      <div style="text-align: center">
        <button 
          mat-raised-button   
          color="primary"
          [routerLink]="['/closing2b']"
        >
          Review Your Loan Details         
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- /Material Button -->

  <br /><br />

  <!-- Material Button -->
  <mat-card>
  <mat-card-content>
    <h2 class="example-h2">Original Figma Concept</h2>
    <p>At some point, in any use case/flow, the user is ready to review and sign contracts. The original UX recommendation from 2021 made good sense, but we had no development location for this UI Widget at the time.</p>
    <div style="text-align: center">
      <button 
        mat-raised-button   
        color="primary"
        [routerLink]="['/closing']"
      >
        Review Your Loan Details         
      </button>
    </div>
  </mat-card-content>
  </mat-card>
  <!-- /Material Button -->

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />